<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Merhaba ben Page sayfasının tasarımıyım.</h1>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
